/* Container chính */
.stats_page {
    display: flex;
    gap: 20px;
    padding: 20px;
  }
  
  /* Phần tổ chức xếp hạng */
  .organization_ranking {
    flex: 7;
    padding: 15px;
    border: 1px solid #F44336;
    border-radius: 8px;
  }
  
  .organization_ranking h2 {
    text-align: center;
    margin-bottom: 25px;
  }
  
  /* Phần người dùng xếp hạng */
  .user_ranking {
    flex: 3;
    padding: 15px;
    border: 1px solid #F44336;
    border-radius: 8px;
  }
  
  .user_ranking h2 {
    margin-bottom: 20px;
    font-size: 20px;
    text-align: center;
  }
  
  /* Entry chung cho tổ chức và người dùng */
  .entry {
    display: flex;
    flex-direction: column;
  }
  .org_entry {
    display: flex;
    height: 115px;
    align-items: center;
    gap: 20px;
    border-bottom: 2px dotted #FFCDD2;
  }
  .user_entry {
    display: flex;
    align-items: center;
    gap: 20px;
    border-bottom: 2px dotted #FFCDD2;
  }
  
  /* Phần hình ảnh của tổ chức và người dùng */
  .img_org_ranking {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .img_user_ranking {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  /* Phần text của tổ chức */
  .org_info {
    display: grid;
    flex-grow: 1;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  
  .org_info p {
    margin: 3px;
    font-size: 15px;
  }
  
  .org_info span {
    color: #F44336;
  }
  /* Phần text của người dùng */
  .user_info p {
    font-size: 16px;
    margin: 14px;
  }
  .user_info span {
    color: #F44336;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination button {
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    color: #333;
    padding: 10px 15px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .pagination button:hover {
    background-color: #e0e0e0;
  }
  
  .pagination button.active {
    background-color: #F44336;
    color: white;
    border-color: #F44336;
  }
  
  .pagination button:focus {
    outline: none;
  }
  
  .avatar_wrapper {
    position: relative;
    display: inline-block;
  }
  .crown_icon_org {
    position: absolute;
    top: -30px;
    left: -40%;
    transform: rotate(-40deg);
    width: 60px;
    height: 50px;
  }
  
  .crown_icon {
    position: absolute;
    top: -30px;
    left: -40%;
    transform: rotate(-40deg);
    width: 60px;
    height: 50px;
  }
  
  .rank_badge {
    position: absolute;
    top: -5px;
    left: -5px;
    background-color: #ffd700;
    color: white;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
  }
  
  .rank_1 {
    background-color: gold;
  }
  
  .rank_2 {
    background-color: silver;
  }
  
  .rank_3 {
    background-color: #cd7f32;
  }