.user-icon {
    display: flex;
    align-items: center;
    padding: 0;
    cursor: pointer;
  }
  
  .icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .user-icon:hover .icon {
    filter: brightness(0.8);
    background-color: transparent;
  }
  